* text=auto eol=lf

# Text file types
*.import text
*.gd text
*.tres text
*.cfg text
*.tscn text
*.godot text

# Binary file types
*.jpg binary
*.png binary
*.wav binary

# Used by Godot in the .import folder
*.stex binary
*.sample binary
*.md5 text
